.RS_all {
    box-shadow: 1px 1px 9px 3px #ddd;
    padding: 7px 12px;
    border-radius: 5px;
}

.RS_role {
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    -ms-flex: 0 0 23.7%!important;
    flex: 0 0 23.7%!important;
    max-width: 25%!important;
    padding-top: 60px;
    font-size: 15px;
}

.RS_role h6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #257cf6;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.RS_role input[type="checkbox"] {
    margin-right: 5px!important;
}

.RS_role span {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}